html, body {
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: -4rem;
}

.pure-button.button-on {
  color: #FFF;
  background-color: #00b16a;
}

.pure-button.button-off {
  color: #FFF;
  background-color: #cf000f;
}

.tac {
  text-align: center;
}

.mt2 {
  margin-top: 2rem;
}

.fa-exclamation-circle {
  color: #cf000f;
}

.fa-check-circle {
  color: #00b16a;
}

.wash-water, .waste-water {
  font-size: 2rem;
}

label {
  font-size: 4rem;
}

.kettle-power-button {
  font-size: 6rem;
  color: lightgrey;
  cursor: pointer;
}


.kettle-power-button.is-on {
  color: #00b16a;
}